/* ============================================================================
   PHOTOS (Section 2) — Bootstrap grid
   ============================================================================ */

.photos__item {
  overflow: hidden;
  border-radius: 10px;

  height: clamp(20rem, 32vw, 36rem);
}

.photos__item img {
  width: 100%;
  height: 100%;
  display: block;

  object-fit: cover;
  object-position: center 20%;
}

/*  на планшете (md) третий блок col-md-12 будет на всю ширину.
   Чтобы он не был “огромным”, ограничиваем его ширину как у половины ряда и центрируем.
*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .photos__item--center-md {
    width: calc(
      50% - 0.75rem
    ); /* примерно половина строки минус половина gap */
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile: чуть выше центр, чтобы лоб меньше резало */
@media (max-width: 575.98px) {
  .photos__item img {
    object-position: center 15%;
  }
}


